/* main.css */

.bg-custom {
    background: linear-gradient(to left, #000, #2c3e50, #e74c3c, #bdc3c7);
}

.nav-tabs {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-tabs:hover {
    background-color: #f0f0f0;
}

.nav-tabs:active {
    background-color: #d9d9d9;
}

.nav-pills .nav-link:hover {
    cursor: pointer;
}

body {
    background-color: #f8f9fa;
}

.btn-container {
    margin-top: 20px;
}

.btn-container a {
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #9dc3ec;
}

.btn-secondary {
    background-color: #495865;
    border: 1px solid #d7e6f5;
}

.btn-success {
    background-color: #28a745;
    border: 1px solid #2efc64;
}
